* {
  box-sizing: border-box;

}

.links{
  text-decoration: none;
  color: white;
  background: #bc2035;
  padding: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 10px;
  border: 2px solid #bc2035;
  font-size: 20px;
  font-weight: bold;
}
/* visited, hover */
.links:hover {
  background: white;
  color: #bc2035;
  font-size: 25px;
}

