
.container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;


    /*
        leva em consideração apenas o conteúdo 
        e não os espaços.
    */
    align-content:flex-start;

    /*
        leva em consideração o coteúdo e os 
        espaços entre eles.
    
    */
    align-items: flex-start;
    
    height: 90vh;
    background-color: lawngreen;
}

.r1{
    background-color: rosybrown;
}
.r2{
    background-color: blue;
}
.r3{
    background-color: yellow;
}
.sq{
    height: 12rem;
    width: 12rem;
}