#section-1 {
    display: flex;
    justify-content: center;
    margin: auto;
    position: static;

}
.quadrado{
    width: 200px;
    height: 200px;
    display: inline-flex;
}

.quadrado-blue {
    position: relative;
    top: 30px;
    left: 30px;
    background-color: blue;
}
.quadrado-red {
    position: relative;
    top: 60px;
    left: 60px;
    background-color: red;
}
.quadrado-green {
    position: relative;
    top: 90px;
    left: 90px;
    background-color: green;
}