p {
  color: blue;
}

#Titulo {
  color: lightblue;
}

.texto_verde {
  color:green;
}

.container {
  font-size: 25px;
  width: 300px;
  background: red;
}

.inside {
  font-size: 2em;

  width: 1em;

}

/* 
vmax
vmin
em -> relativa a fonte do elemento
rem



*/