*{
    font-family: sans-serif;
}
@keyframes moveTo{
    0%{left:0px}
    50%{left: 71%}
    100%{left:0px}
}
@keyframes tSpin {
    100%{
        transform: rotate(-360deg);
    }
}
body{

    background-color: blueviolet;
}
.container{
    max-width: 100%;
    margin: 30vh auto;
    display: flex;
    flex-flow: column;
    align-content: flex-start;
    gap: 10px;
    
}
.box {
    position: relative;
    border-radius: 8px;
    background-color: rgba(255, 99, 71, 0);
    height:50px;
    width:100px;
    overflow: hidden;
    
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    animation-name: moveTo;
    animation-duration: 10s;
    animation-iteration-count: infinite;

}
.box:hover{
    transform: scale(1.2);
    animation-play-state: paused;
}

.box:hover::after{
    animation: tSpin 0.7s infinite reverse;
    opacity: 3;

}
.box::after{
    border-radius: 8px;
    animation: tSpin 1s infinite linear;
    background: linear-gradient(360deg, red, blue 70%);
    position: absolute;
    content: "";
    top: -90%;
    left:  -90%;
    height: 300%;
    width: 300%;
    z-index: -2;
    opacity: 0.7;
}
.div1{
    animation-timing-function: linear;
}
.div2{
    
    animation-timing-function: ease;
}
.div3{
    animation-timing-function: ease-in;
}
.div4{
    animation-timing-function: ease-out;
}
.div5{
    animation-timing-function: ease-in-out;
}
.box p{
    background-color: rgb(75, 75, 75);
    box-shadow: 0px 0px 30px black inset;
    border-radius: 8px;
    color: white;
    padding: 8% 16%;
    font-size: 1.5rem;
    font-weight: bold;
}
